<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Keranjang</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-text colors="warning">
        <ion-item>
        <h6>Item di Keranjang Belanja</h6>
        </ion-item>
      </ion-text>
<ion-list pading text-center>
        <img src="assets/images/carge.jpeg" height='60' width='60'>
      <ion-item-divider>
          <h6>Xiaomi Quick Charge Qualcomm 3.0 Fast Charging Type C Charger</h6>
          </ion-item-divider>
  </ion-list>
  <ion-text colors="warning" style="text-align:right;">
      <ion-item>
      <h6>Harga     : Rp.35.000</h6>
      </ion-item>
    </ion-text>
  <ion-text colors="warning" text-right>
      <ion-item>
      <h6>Jumlah    : 2 Item</h6>
      </ion-item>
    </ion-text>
  <ion-text colors="warning" text-right>
      <ion-item>
      <h6>Total     :  Rp.70.000</h6>
      </ion-item>
    </ion-text>
  <section>
      <ion-button expand="block" color="warning">Checkout</ion-button>
    </section>
</ion-content>
