<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Daftar Produk</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding center text-center>

    <img src="assets/icon/produk.png">
    <ion-card-header>
      <ion-card-title>Daftar Produk</ion-card-title>
    </ion-card-header>
    <ion-item href="http://localhost:8100/tambah">
    <ion-button (click)="toggleInfiniteScroll()" expand="block" color="danger">
        <ion-icon name="add"></ion-icon>
      Tambah
    </ion-button>
  </ion-item>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      HP
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Laptop
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Hardcase
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Softcase
    </ion-button>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Tempered Glass
    </ion-button>
  </ion-content>
  